 body{
    background-color: azure;
 }
 
h1{
    text-align: center;
    text-decoration: underline;
 }

 #ship{
    color: orangered;

 }

 #membership{  
         background-color: slategrey;
         margin: 35px;
         border-radius: 10px;
 }

 .one{
       font-style: italic;
 }

 #choice{
         display: flex;
        
       
 }